@model WebApplication1.Models.Commnents

<div>
    <h4>Commnents</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itemid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itemid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.commnents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.commnents)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
